<!DOCTYPE html> <!-- Recebe html 5-->
<html>

<head>
    <title> Cálculo de temperatura</title> <!-- Se não tiver title o titulo será o nome do arquivo-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Conversor de Temperatura</h1>
        <section id="formulario"> <!--Cria seção-->
            <form method="POST">
                Digite a temperatura (ºC): <input type="number" name="temp" step="0.1"> <!-- step faz a setinha aumenta de 0.1 em 0.1 -->
                <p></p> <!-- Pular linha (<p> deixa mais espaço que o <br>)-->
                <button type="submit" id="botoes">Calcular</button>
            </form>
        </section>
        
        {% if fahre is not none %}
        <p><strong>{{ temp }} °C é igual a {{ fahre }} °F</strong></p>
        {% endif %}

        {% if erro %}
            <p style="color: red;">{{ erro }}</p>
        {% endif %}
    </main>
<html>