<!DOCTYPE html> <!-- Recebe html 5-->
<html>

<head>
    <title> Calculadora IMC</title> <!-- Se não tiver title o titulo será o nome do arquivo-->

</head>

<body>
    <main class="container">
        <h1>Calculadora IMC</h1>
        <section id="formulario"> <!--Cria seção-->
            <form method="POST">
                Peso (kg) <input type="number" name="peso" step="0.1"> <!-- step faz a setinha aumenta de 0.1 em 0.1 -->
                <p></p> <!-- Pular linha (<p> deixa mais espaço que o <br>)-->
                Altura (cm) <input type="number" name="altura">
                <p></p>
                <button type="submit" id="botoes">Calcular IMC</button>
            </form>
        </section>

        {% if imc%} <!--Para usar código python -->
        <h2>Resultado: {{imc}}</h2> <!--Duas chaves para usar váriavel do python -->
        <h2>Classificação: {{classificacao}}</h2>
        {%endif%}<!DOCTYPE html> <!-- Recebe html 5-->
<html>